
#Hregform {
    width: 30%;
    margin: auto;    
    display: flex;
    flex-direction: column;
    padding: 4% 5% 1% 5%;
    border-radius: 10px;
    font-family: Bahnschrift;
    background-color: rgba(42, 219, 145, 0.372);
}

.txtbx {
    background: none;
    background-color: seagreen;
    padding: 10px;
    border: none;
    border-bottom: 3px darkgreen solid;
    color: lawngreen;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    font-size:16px;
    font-family:'Comic Sans MS';
}

.usertxtbx {
    background-color: transparent;
}

    .txtbx:focus {
        background: transparent;
        background-color: transparent;
        border: none;
        border-bottom: 3px darkgreen solid;
        outline: none;
    }

.lbl{
    color:mediumseagreen;
}
.btn {
    padding: 3%;
    background: none;
    border: 2px solid darkseagreen;
    border-radius: 50px;
    background-color: transparent;
    color: darkseagreen;
    box-shadow: 1px 1px 3px lightgreen;
    font-family: 'Cascadia Code';
    font-size: large;
}

    .btn:hover {
        background-color: rgba(42, 219, 145, 0.172);
        color: lightgreen;
        transform: scale(1.05);
        transition: all 600ms ease-out;
    }

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 76, 255, 0.281);
    color: lavender;
    margin-bottom: 3%;
    font-family: 'Viner Hand ITC';
    box-shadow: 5px 5px 5px blue;
}
